<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="cs">
<head>
    <title>KappaStar</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"/>
    <style>
        .seats {
            position: relative;
            padding-top: 150px;
            margin-top: 30px;
        }

        .seats::before {
            content: '';
            position: absolute;
            top: 0;
            left: 50%;
            width: 80%;
            height: 90px;
            background-color: #3d3d3d;
            border-radius: 10px;
            transform: translateX(-50%) perspective(400px) rotateX(125deg);
        }

        .seats::after {
            content: 'PLÁTNO';
            color: gray;
            position: absolute;
            top: 33px;
            left: 50%;
            transform: translateX(-50%) translateZ(50px) rotateX(60deg) perspective(50px);
        }

        .seat {
            margin-bottom: 10px;
            aspect-ratio: 1 / 1;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            flex: 1;
        }

        .seat::before {
            content: '';
            background-image: url("/images/seat.png");
            background-size: contain;
            background-repeat: no-repeat;
            position: absolute;
            width: 90%;
            height: 90%;
            z-index: -1;
        }

        .seat p {
            color: white;
            font-size: 1.5rem;
            font-weight: bold;
            margin-bottom: 30px;
        }
    </style>
    <style th:if="${cinemaHall != null and cinemaHall.getSeatsCount() > 100}">
        .seat p {
            font-size: 1rem;
            margin-bottom: 15px;
        }
    </style>
</head>
<body>

<main>
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
        <div class="container">
            <div class="row">
                <div class="col">
                    <a href="/admin"
                       class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
                        <span class="fs-4">KappaStar ADMIN</span>
                    </a>
                </div>
                <div class="col">
                    <ul class="nav nav-pills justify-content-end">
                        <li class="nav-item"><a href="/admin/screenings" class="nav-link">Promítání</a></li>
                        <li class="nav-item"><a href="/admin/movies" class="nav-link">Filmy</a></li>
                        <li class="nav-item"><a href="/admin/cinema-halls" class="nav-link active">Sály</a></li>
                        <li class="nav-item"><a href="/" class="nav-link ms-4">Web</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </header>

    <div class="container">

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/admin/cinema-halls">Sály</a></li>
                <li class="breadcrumb-item active"
                    th:text="${(cinemaHall != null) ? cinemaHall.getName() : 'Detail'}"></li>
            </ol>
        </nav>

        <div class="row mb-3">
            <div class="col">
                <h1 th:text="${(cinemaHall != null) ? cinemaHall.getName() : 'Sál'}"></h1>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div th:if="${cinemaHall == null}">
                    <p>Tento sál nebyl nalezen.</p>
                </div>

                <div th:if="${cinemaHall != null}">

                    <div class="row mb-3">
                        <div class="col">
                            <p>Podpora 3D: <span th:text="${cinemaHall.isSupport3D() ? 'Ano' : 'Ne'}"></span></p>
                            <p>Podpora DOLBY: <span th:text="${cinemaHall.isBetterSound() ? 'Ano' : 'Ne'}"></span></p>
                            <p>Počet sedadel: <span th:text="${cinemaHall.getSeatsCount()}"></span></p>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col">
                            <h3>Sedadla</h3>
                            <div class="seats">
                                <div th:each="row:${cinemaHall.getSeats()}" class="d-flex">
                                    <div th:class="seat" th:each="col:${row}">
                                        <p th:text="${col}"></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>