<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="cs">
<head>
    <title>KappaStar</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" />
    <style>
        table a {
            text-decoration: none;
        }
    </style>
</head>
<body>
<main>
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
        <div class="container">
            <div class="row">
                <div class="col">
                    <a href="/admin" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
                        <span class="fs-4">KappaStar ADMIN</span>
                    </a>
                </div>
                <div class="col">
                    <ul class="nav nav-pills justify-content-end">
                        <li class="nav-item"><a href="/admin/screenings" class="nav-link">Promítání</a></li>
                        <li class="nav-item"><a href="/admin/movies" class="nav-link">Filmy</a></li>
                        <li class="nav-item"><a href="/admin/cinema-halls" class="nav-link active">Sály</a></li>
                        <li class="nav-item"><a href="/" class="nav-link ms-4">Web</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </header>

    <div class="container">

        <div class="row">
            <div class="col">
                <h1>Sály</h1>
            </div>
        </div>

        <div class="row">
            <div class="col">

                <div th:if="${cinemaHalls.isEmpty()}">
                    <p>Nevíme jak se to stalo, ale nejsou tu žádné sály.</p>
                </div>

                <div th:if="${!cinemaHalls.isEmpty()}">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Název</th>
                                <th>Počet sedadel</th>
                                <th>Podpora 3D</th>
                                <th>Podpora DOLBY</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="hall:${cinemaHalls}">
                                <td th:text="${hall.getName()}"></td>
                                <td th:text="${hall.getSeatsCount()}"></td>
                                <td th:text="${hall.isSupport3D() ? 'Ano' : 'Ne'}"></td>
                                <td th:text="${hall.isBetterSound() ? 'Ano' : 'Ne'}"></td>
                                <td class="text-end">
                                    <a th:href="'/admin/cinema-halls/' + ${hall.getId()}">
                                        <button type="button" class="btn btn-primary btn-sm">Detail</button>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>