<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="cs">
<head>
    <title>KappaStar</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>

<main>
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
        <div class="container">
            <div class="row">
                <div class="col">
                    <a href="/admin" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
                        <span class="fs-4">KappaStar ADMIN</span>
                    </a>
                </div>
                <div class="col">
                    <ul class="nav nav-pills justify-content-end">
                        <li class="nav-item"><a href="/admin/screenings" class="nav-link active">Promítání</a></li>
                        <li class="nav-item"><a href="/admin/movies" class="nav-link">Filmy</a></li>
                        <li class="nav-item"><a href="/admin/cinema-halls" class="nav-link">Sály</a></li>
                        <li class="nav-item"><a href="/" class="nav-link ms-4">Web</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </header>

    <div class="container">

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/admin/screenings">Promítání</a></li>
                <li class="breadcrumb-item active">Přidat</li>
            </ol>
        </nav>

        <div class="row mb-3">
            <div class="col">
                <h1>Přidat promítání</h1>
            </div>
        </div>

        <form method="post" th:action="@{~/admin/screenings/add}" th:object="${screening}">
            <div class="row mb-3">
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="form-group">
                        <label for="cinemaHall">Sál</label>
                        <select class="form-control"
                                id="cinemaHall"
                                required
                                th:field="*{cinemaHallId}">
                            <option hidden value="">Vyber sál</option>
                            <option th:each="hall:${cinemaHalls}"
                                    th:text="${hall.getName()}"
                                    th:value="${hall.getId()}">
                            </option>
                        </select>
                        <p class="form-text text-danger" th:if="${#fields.hasErrors('cinemaHallId')}" th:errors="*{cinemaHallId}"></p>
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="form-group">
                        <label for="movie">Film</label>
                        <select class="form-control"
                                id="movie"
                                required
                                th:field="*{movieId}">
                            <option hidden value="">Vyber film</option>
                            <option th:each="movie:${movies}"
                                    th:text="${movie.getName()}"
                                    th:value="${movie.getId()}">
                            </option>
                        </select>
                        <p class="form-text text-danger" th:if="${#fields.hasErrors('movieId')}" th:errors="*{movieId}"></p>
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="form-group">
                        <label for="datetime">Začátek promítání</label>
                        <input class="form-control"
                               type="datetime-local"
                               id="datetime"
                               th:field="*{datetime}">
                        <p class="form-text text-danger" th:if="${#fields.hasErrors('datetime')}" th:errors="*{datetime}"></p>
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="form-group">
                        <label for="ticketPrice">Cena vstupenky</label>
                        <div class="input-group">
                            <input class="form-control"
                                   id="ticketPrice"
                                   required
                                   min="0"
                                   type="number"
                                   th:field="*{ticketPrice}" />
                            <span class="input-group-text">Kč</span>
                        </div>
                        <p class="form-text text-danger" th:if="${#fields.hasErrors('ticketPrice')}" th:errors="*{ticketPrice}"></p>
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="support3D" th:field="*{support3D}">
                        <label class="form-check-label" for="support3D">
                            3D film
                        </label>
                    </div>
                    <p class="form-text text-danger" th:if="${#fields.hasErrors('support3D')}" th:errors="*{support3D}"></p>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="betterSound" th:field="*{betterSound}">
                        <label class="form-check-label" for="betterSound">
                            Zvuk DOLBY
                        </label>
                    </div>
                    <p class="form-text text-danger" th:if="${#fields.hasErrors('betterSound')}" th:errors="*{betterSound}"></p>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-6 col-lg-4 text-end">
                    <button class="btn btn-primary" type="submit">Uložit</button>
                </div>
            </div>
        </form>
    </div>
</main>
</body>
</html>