<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="cs">
<head>
    <title>KappaStar</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" />
    <style>
        form {
            display: inline;
        }
    </style>
</head>
<body>

<main>
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
        <div class="container">
            <div class="row">
                <div class="col">
                    <a href="/admin" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
                        <span class="fs-4">KappaStar ADMIN</span>
                    </a>
                </div>
                <div class="col">
                    <ul class="nav nav-pills justify-content-end">
                        <li class="nav-item"><a href="/admin/screenings" class="nav-link active">Promítání</a></li>
                        <li class="nav-item"><a href="/admin/movies" class="nav-link">Filmy</a></li>
                        <li class="nav-item"><a href="/admin/cinema-halls" class="nav-link">Sály</a></li>
                        <li class="nav-item"><a href="/" class="nav-link ms-4">Web</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </header>

    <div class="container">

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/admin/screenings">Promítání</a></li>
                <li class="breadcrumb-item active" th:text="${(screening != null) ? screening.movie.getName() : 'Detail'}"></li>
            </ol>
        </nav>

        <div class="row mb-3">
            <div class="col-sm-9">
                <h1 th:text="${(screening != null) ? screening.movie.getName() : 'Promítání'}"></h1>
            </div>
            <div class="col-sm-3 text-end" th:if="${screening != null}">
                <a class="btn btn-primary btn-sm" th:href="'/admin/screenings/' + ${screening.getId()} + '/edit'">
                    Upravit
                </a>
                <a class="btn btn-primary btn-sm" th:href="'/admin/movies/' + ${screening.getMovie().getId()}">
                    Detail
                </a>
                <form th:onsubmit="return confirm('Opravdu chceš odstranit toto promítání? Zároveň se odstraní všechny rezervace.')" method="post" th:action="@{~/admin/screenings/{id}/delete(id=${screening.getId()})}">
                    <input type="hidden" th:value="*{screening.getId()}" readonly>
                    <button type="submit" class="btn btn-danger btn-sm">Odstranit</button>
                </form>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div th:if="${screening == null}">
                    <p>Toto promítání nebylo nalezeno.</p>
                </div>

                <div class="row" th:if="${screening != null}">
                    <div class="col-sm-2">
                        <img th:src="${screening.getMovie().getImage()}" th:alt="${screening.getMovie().getName()}" width="100%" />
                    </div>
                    <div class="col-sm-10">
                        <p class="mb-1">Film: <span th:text="${screening.movie.getName()}"></span></p>
                        <p class="mb-1">Sál: <span th:text="${screening.cinemaHall.getName()}"></span></p>
                        <p class="mb-1">Cena: <span th:text="${screening.getTicketPrice()} + ',- Kč / osoba'"></span></p>
                        <p class="mb-1">Začátek: <span th:text="${#dates.format(screening.getDatetime(), 'dd. MM. yyyy HH:mm')}"></span></p>
                        <p class="mb-1">Konec: <span th:text="${#dates.format(screening.getEndDatetime(), 'dd. MM. yyyy HH:mm')}"></span></p>
                        <p class="mb-1">Délka: <span th:text="${screening.movie.getLength()} + ' minut'"></span></p>
                        <p class="mb-1">Lepší zvuk: <span th:text="${screening.isBetterSound() ? 'Ano' : 'Ne'}"></span></p>
                        <p class="mb-1">Podpora 3D: <span th:text="${screening.isSupport3D() ? 'Ano' : 'Ne'}"></span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>