<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="cs">
<head>
    <title>KappaStar</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" />
    <style>
        table a {
            text-decoration: none;
        }
        form {
            display: inline;
        }
    </style>
</head>
<body>
<main>
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
        <div class="container">
            <div class="row">
                <div class="col">
                    <a href="/admin" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
                        <span class="fs-4">KappaStar ADMIN</span>
                    </a>
                </div>
                <div class="col">
                    <ul class="nav nav-pills justify-content-end">
                        <li class="nav-item"><a href="/admin/screenings" class="nav-link active">Promítání</a></li>
                        <li class="nav-item"><a href="/admin/movies" class="nav-link">Filmy</a></li>
                        <li class="nav-item"><a href="/admin/cinema-halls" class="nav-link">Sály</a></li>
                        <li class="nav-item"><a href="/" class="nav-link ms-4">Web</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </header>

    <div class="container">

        <div class="row">
            <div class="col">
                <h1>Promítání</h1>
            </div>
            <div class="col text-end">
                <a href="/admin/screenings/add">
                    <button class="btn btn-primary">Přidat promítání</button>
                </a>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div th:if="${screenings.isEmpty()}">
                    <p>Zatím není naplánováno žádné promítání.</p>
                </div>

                <div th:if="${!screenings.isEmpty()}">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Film</th>
                                <th>Sál</th>
                                <th>Cena</th>
                                <th>Začátek</th>
                                <th>Konec</th>
                                <th>Délka</th>
                                <th>Lepší zvuk</th>
                                <th>3D</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="screening:${screenings}">
                                <td th:text="${screening.movie.getName()}"></td>
                                <td th:text="${screening.cinemaHall.getName()}"></td>
                                <td th:text="${screening.getTicketPrice()} + ' Kč'"></td>
                                <td th:text="${#dates.format(screening.getDatetime(), 'dd. MM. yyyy HH:mm')}"></td>
                                <td th:text="${#dates.format(screening.getEndDatetime(), 'HH:mm')}"></td>
                                <td th:text="${screening.movie.getLength()} + ' minut'"></td>
                                <td th:text="${screening.isBetterSound() ? 'Ano' : 'Ne'}"></td>
                                <td th:text="${screening.isSupport3D() ? 'Ano' : 'Ne'}"></td>
                                <td class="text-end">
                                    <a class="btn btn-primary btn-sm" th:href="'/admin/screenings/' + ${screening.getId()}">
                                        Detail
                                    </a>
                                    <a class="btn btn-primary btn-sm" th:href="'/admin/screenings/' + ${screening.getId()} + '/edit'">
                                        Upravit
                                    </a>
                                    <form th:onsubmit="return confirm('Opravdu chceš odstranit promítání? Zároveň se odstraní všechny rezervace.')" method="post" th:action="@{~/admin/screenings/{id}/delete(id=${screening.getId()})}">
                                        <input type="hidden" th:value="*{screening.getId()}" readonly>
                                        <button type="submit" class="btn btn-danger btn-sm">Odstranit</button>
                                    </form>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</main>
</body>
</html>