<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="cs">
<head>
    <title>KappaStar</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" />
    <style>
        .seats {
            position: relative;
            padding-top: 150px;
            margin-top: 30px;
        }
        .seats::before {
            content: '';
            position: absolute;
            top: 0;
            left: 50%;
            width: 80%;
            height: 90px;
            background-color: #3d3d3d;
            border-radius: 10px;
            transform: translateX(-50%) perspective(400px) rotateX(125deg);
        }
        .seats::after {
            content: 'PLÁTNO';
            color: gray;
            position: absolute;
            top: 33px;
            left: 50%;
            transform: translateX(-50%) translateZ(50px) rotateX(60deg) perspective(50px);
        }
        .seat {
            margin-bottom: 10px;
            aspect-ratio: 1 / 1;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            position: relative;
            flex: 1;
        }
        .seat::before {
            content: '';
            background-image: url("/images/seat.png");
            background-size: contain;
            background-repeat: no-repeat;
            position: absolute;
            width: 90%;
            height: 90%;
            z-index: -1;
        }
        .seat p {
            color: white;
            font-size: 1.5rem;
            font-weight: bold;
            margin-bottom: 30px;
        }
        .seat:not(.disabled):not(.active):hover::before {
            background-image: url("/images/seat-hover.png");
        }
        .seat.disabled {
            cursor: not-allowed;
        }
        .seat.disabled::before {
            background-image: url("/images/seat-disabled.png");
        }
        .seat.disabled p {
            color: gray;
        }
        .seat.active::before {
            background-image: url("/images/seat-selected.png");
        }
    </style>
    <style th:if="${screening != null and screening.getCinemaHall().getSeatsCount() > 100}">
        .seat p {
            font-size: 1rem;
            margin-bottom: 15px;
        }
    </style>
</head>
<body>
<main>
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
        <div class="container">
            <div class="row">
                <div class="col">
                    <a href="/"
                       class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
                        <span class="fs-4">KappaStar</span>
                    </a>
                </div>
                <div class="col">
                    <ul class="nav nav-pills justify-content-end">
                        <li class="nav-item"><a href="/admin" class="nav-link">Admin</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </header>

    <div class="container">
        <div class="row mb-3">
            <div class="col">
                <h1 th:text="${(screening != null) ? screening.getMovie().getName() : 'Promítání'}"></h1>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div th:if="${screening == null}">
                    <p>Promítání nebylo nalezeno.</p>
                </div>

                <div th:if="${screening != null}">

                    <div class="row mb-4" th:with="movie=${screening.getMovie()}">
                        <div class="col-sm-2">
                            <img th:src="${movie.getImage()}" th:alt="${movie.getName()}" width="100%">
                        </div>
                        <div class="col-sm-6">
                            <p class="mb-1">Režisér: <span th:text="${movie.getDirector()}"></span></p>
                            <p class="mb-3">Herci: <span th:text="${movie.getActors()}"></span></p>
                            <p th:text="${movie.getDescription()}"></p>
                        </div>
                        <div class="col-sm-3 offset-sm-1">
                            <p class="mb-1">Datum: <span th:text="${#dates.format(screening.getDatetime(), 'dd. MM. yyyy')}"></span></p>
                            <p class="mb-1">Začátek: <span th:text="${#dates.format(screening.getDatetime(), 'HH:mm')}"></span></p>
                            <p class="mb-1">Konec: <span th:text="${#dates.format(screening.getEndDatetime(), 'HH:mm')}"></span></p>
                            <p class="mb-1">Délka: <span th:text="${screening.getMovie().getLength()} + ' minut'"></span></p>
                            <p class="mb-1">Sál: <span th:text="${screening.getCinemaHall().getName()}"></span></p>
                            <p class="mb-1">Cena: <span th:text="${screening.getTicketPrice() + ',- Kč / osoba'}"></span></p>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col">
                            <h2>Rezervace</h2>
                        </div>
                    </div>

                    <form method="post" th:action="@{~/reservation/add}" th:object="${reservation}">

                        <input type="hidden" name="screeningId" th:value="${screening.getId()}" readonly />

                        <input type="hidden" id="seats-input" name="seatsNumbers[]" th:value="${selectedSeats}" readonly>

                        <div class="row mb-3">
                            <div class="col-12 col-md-6 col-lg-4">
                                <div class="form-group">
                                    <label for="personName">Jméno a přijmení</label>
                                    <input class="form-control"
                                           type="text"
                                           id="personName"
                                           th:field="*{personName}">
                                    <p class="form-text text-danger" th:if="${#fields.hasErrors('personName')}" th:errors="*{personName}"></p>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-12 col-md-6 col-lg-4">
                                <div class="form-group">
                                    <label for="email">E-mail</label>
                                    <input class="form-control"
                                           type="email"
                                           id="email"
                                           th:field="*{email}">
                                    <p class="form-text text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>
                                </div>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col">
                                <h3>Sedadla</h3>
                                <p class="form-text text-danger" th:if="${#fields.hasErrors('seatsNumbers')}" th:errors="*{seatsNumbers}"></p>
                                <div class="seats">
                                    <div th:each="row:${screening.getCinemaHall().getSeats()}" class="d-flex">
                                        <div th:class="'seat ' + ${reservedSeats.contains(col) ? 'disabled' : ''} + ${reservation.getSeatsNumbers().contains(col) ? 'active' : ''}" th:data-id="${col}" th:onclick="selectSeat(this.getAttribute('data-id'))" th:id="'seat-' + ${col}" th:each="col:${row}">
                                            <p th:text="${col}"></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row mb-5">
                            <div class="col text-end">
                                <button class="btn btn-primary" type="submit">Rezervovat</button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
<script type="text/javascript">

    const form = document.getElementsByName('form')[0];
    const seatsInput = document.getElementById('seats-input');
    let seats = seatsInput.value.length > 0 ? seatsInput.value.split(',') : [];

    function selectSeat(id) {
        const seat = document.getElementById('seat-' + id);
        if (!seat.classList.contains('disabled')) {
            if (seat.classList.contains('active')) {
                seat.classList.remove('active')
                seats = seats.filter(s => s !== id);
            } else {
                seat.classList.add('active')
                seats.push(id)
            }
            seatsInput.value = seats;
        }
    }
</script>
</body>
</html>