<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="cs">
<head>
    <title>KappaStar</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"/>
    <style>
        table tbody tr td:first-of-type {
            max-width: 75px;
        }
    </style>
</head>
<body>
<main>
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
        <div class="container">
            <div class="row">
                <div class="col">
                    <a href="/"
                       class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
                        <span class="fs-4">KappaStar</span>
                    </a>
                </div>
                <div class="col">
                    <ul class="nav nav-pills justify-content-end">
                        <li class="nav-item"><a href="/admin" class="nav-link">Admin</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </header>

    <div class="container">
        <div class="row mb-3">
            <div class="col-sm-9">
                <h1 th:text="${(reservation != null) ? ('Rezervace ' + reservation.getScreening().getMovie().getName()) : 'Rezervace'}"></h1>
            </div>
            <div class="col-sm-3 d-flex align-items-center justify-content-end" th:if="${reservation != null}">
                <form th:onsubmit="return confirm('Opravdu chceš zrušit rezervaci?')" method="post"
                      th:action="@{~/reservation/{id}/delete(id=${reservation.getId()})}">
                    <input type="hidden" th:value="*{reservation.getId()}" readonly>
                    <button type="submit" class="btn btn-danger btn-sm">Zrušit rezervaci</button>
                </form>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div th:if="${reservation == null}">
                    <p>Rezervace nebyla nalezena.</p>
                </div>

                <div th:if="${reservation != null}">

                    <div class="row">
                        <div class="col mb-3">
                            <p class="mb-1">Číslo rezervace:</p>
                            <p th:text="${reservation.getId()}"></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col mb-3">
                            <p class="mb-1">Datum rezervace:</p>
                            <p th:text="${#dates.format(reservation.getDatetime(), 'dd. MM. yyyy HH:mm')}"></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col mb-3">
                            <p class="mb-1">Kontaktní údaje:</p>
                            <p th:text="${reservation.getPersonName()} + ' (' + ${reservation.getEmail()} + ')'"></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col mb-3">
                            <table class="table">
                                <thead></thead>
                                <tbody>
                                <tr th:each="seat:${reservation.getSeatsNumbers()}">
                                    <td>
                                        <img th:src="${reservation.getScreening().getMovie().getImage()}"
                                             th:alt="${reservation.getScreening().getMovie().getName()}" width="75px"/>
                                    </td>
                                    <td th:text="${reservation.getScreening().getMovie().getName()}"></td>
                                    <td>
                                        Sál:
                                        <span class="d-block fs-5 fw-normal"
                                              th:text="${reservation.getScreening().getCinemaHall().getName()}"></span>
                                    </td>
                                    <td>
                                        <span class="d-block"
                                              th:text="${#dates.format(reservation.getScreening().getDatetime(), 'dd. MM. yyyy')}"></span>
                                        <span class="fs-5 fw-normal d-block"
                                              th:text="${#dates.format(reservation.getScreening().getDatetime(), 'HH:mm')}"></span>
                                    </td>
                                    <td>
                                        Sedadlo:
                                        <span class="d-block fs-5 fw-normal" th:text="${seat}"></span>
                                    </td>
                                    <td>
                                        Vstupné:
                                        <span class="d-block fs-5 fw-normal"
                                              th:text="${reservation.getScreening().getTicketPrice()} + ',- Kč'"></span>
                                    </td>
                                </tr>
                                </tbody>
                                <tfoot>
                                <tr>
                                    <td colspan="3">
                                        Celkem:
                                    </td>
                                    <td colspan="3" class="text-end">
                                        <span class="lead fw-normal" th:text="${priceSum} + ',- Kč'"></span>
                                    </td>
                                </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>