<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="cs">
<head>
    <title>KappaStar</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" />
    <style>
        form {
            display: inline;
        }
    </style>
</head>
<body>

<main>
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
        <div class="container">
            <div class="row">
                <div class="col">
                    <a href="/admin" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
                        <span class="fs-4">KappaStar ADMIN</span>
                    </a>
                </div>
                <div class="col">
                    <ul class="nav nav-pills justify-content-end">
                        <li class="nav-item"><a href="/admin/screenings" class="nav-link">Promítání</a></li>
                        <li class="nav-item"><a href="/admin/movies" class="nav-link active">Filmy</a></li>
                        <li class="nav-item"><a href="/admin/cinema-halls" class="nav-link">Sály</a></li>
                        <li class="nav-item"><a href="/" class="nav-link ms-4">Web</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </header>

    <div class="container">

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/admin/movies">Filmy</a></li>
                <li class="breadcrumb-item active" th:text="${(movie != null) ? movie.getName() : 'Detail'}"></li>
            </ol>
        </nav>

        <div class="row mb-3">
            <div class="col">
                <h1 th:text="${(movie != null) ? movie.getName() : 'Film'}"></h1>
            </div>
            <div class="col text-end" th:if="${movie != null}">
                <a class="btn btn-primary btn-sm" th:href="'/admin/movies/' + ${movie.getId()} + '/edit'">Upravit</a>
                <form th:onsubmit="return confirm('Opravdu chceš odstranit tento film?')" method="post" th:action="@{~/admin/movies/{id}/delete(id=${movie.getId()})}">
                    <input type="hidden" th:value="*{movie.getId()}" readonly>
                    <button type="submit" class="btn btn-danger btn-sm">Odstranit</button>
                </form>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div th:if="${movie == null}">
                    <p>Tento film nebyl nalezen.</p>
                </div>

                <div th:if="${movie != null}">
                    <div class="row">
                        <div class="col-sm-2">
                            <img th:src="${movie.getImage()}" th:alt="${movie.getName()}" width="100%">
                        </div>
                        <div class="col-sm-10">
                            <p class="mb-1">Název: <span th:text="${movie.getName()}"></span></p>
                            <p class="mb-1">Rok: <span th:text="${movie.getYear()}"></span></p>
                            <p class="mb-1">Délka: <span th:text="${movie.getLength()} + ' minut'"></span></p>
                            <p class="mb-1">Režisér: <span th:text="${movie.getDirector()}"></span></p>
                            <p class="mb-3">Herci: <span th:text="${movie.getActors()}"></span></p>
                            <p th:text="${movie.getDescription()}"></p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</main>
</body>
</html>