<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="cs">
<head>
    <title>KappaStar</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"/>
</head>
<body>

<main>
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
        <div class="container">
            <div class="row">
                <div class="col">
                    <a href="/admin"
                       class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
                        <span class="fs-4">KappaStar ADMIN</span>
                    </a>
                </div>
                <div class="col">
                    <ul class="nav nav-pills justify-content-end">
                        <li class="nav-item"><a href="/admin/screenings" class="nav-link ">Promítání</a></li>
                        <li class="nav-item"><a href="/admin/movies" class="nav-link active">Filmy</a></li>
                        <li class="nav-item"><a href="/admin/cinema-halls" class="nav-link">Sály</a></li>
                        <li class="nav-item"><a href="/" class="nav-link ms-4">Web</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </header>

    <div class="container">

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/admin/movies">Filmy</a></li>
                <li th:if="${movie != null}" class="breadcrumb-item"><a th:href="'/admin/movies/' + ${movie.getId()}"
                                                                        th:text="${movie.getName()}"></a></li>
                <li class="breadcrumb-item active">Upravit</li>
            </ol>
        </nav>

        <div class="row mb-3">
            <div class="col">
                <h1>Upravit film</h1>
            </div>
        </div>


        <div class="row">
            <div class="col">
                <div th:if="${movie == null}">
                    <p>Tento film nebyl nalezen.</p>
                </div>
                <form th:if="${movie != null}" method="post"
                      th:action="@{~/admin/movies/{id}/edit(id=${movie.getId()})}"
                      th:object="${movie}">
                    <div class="row mb-3">
                        <div class="col-12 col-md-6 col-lg-4">
                            <div class="form-group">
                                <label for="name">Název</label>
                                <input class="form-control"
                                       id="name"
                                       required
                                       type="text"
                                       th:field="*{name}"/>
                                <p class="form-text text-danger" th:if="${#fields.hasErrors('name')}"
                                   th:errors="*{name}"></p>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-12 col-md-6 col-lg-4">
                            <div class="form-group">
                                <label for="year">Rok</label>
                                <input class="form-control"
                                       id="year"
                                       required
                                       type="number"
                                       step="1"
                                       min="1900"
                                       max="2999"
                                       th:field="*{year}"/>
                                <p class="form-text text-danger" th:if="${#fields.hasErrors('year')}"
                                   th:errors="*{year}"></p>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-12 col-md-6 col-lg-4">
                            <div class="form-group">
                                <label for="director">Režisér</label>
                                <input class="form-control"
                                       id="director"
                                       required
                                       type="text"
                                       th:field="*{director}"/>
                                <p class="form-text text-danger" th:if="${#fields.hasErrors('director')}"
                                   th:errors="*{director}"></p>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-12 col-md-6 col-lg-4">
                            <div class="form-group">
                                <label for="actors">Herci</label>
                                <input class="form-control"
                                       id="actors"
                                       required
                                       type="text"
                                       th:field="*{actors}"/>
                                <p class="form-text text-danger" th:if="${#fields.hasErrors('actors')}"
                                   th:errors="*{actors}"></p>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-12 col-md-6 col-lg-4">
                            <div class="form-group">
                                <label for="description">Popis</label>
                                <textarea class="form-control"
                                          id="description"
                                          required
                                          th:field="*{description}"></textarea>
                                <p class="form-text text-danger" th:if="${#fields.hasErrors('description')}"
                                   th:errors="*{description}"></p>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-12 col-md-6 col-lg-4">
                            <div class="form-group">
                                <label for="length">Délka</label>
                                <div class="input-group">
                                    <input class="form-control"
                                           id="length"
                                           required
                                           type="number"
                                           min="1"
                                           step="1"
                                           max="3000"
                                           th:field="*{length}"/>
                                    <span class="input-group-text">minut</span>
                                </div>
                                <p class="form-text text-danger" th:if="${#fields.hasErrors('length')}"
                                   th:errors="*{length}"></p>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 col-md-6 col-lg-4 text-end">
                            <button class="btn btn-primary" type="submit">Uložit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>
</body>
</html>