<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="cs">
<head>
    <title>KappaStar</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" />
    <style>
        table a {
            text-decoration: none;
        }
        form {
            display: inline;
        }

        .text-truncate {
            display: -webkit-box;
            max-width: 400px;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            overflow: hidden;
            white-space: normal;
        }
    </style>
</head>
<body>
<main>
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
        <div class="container">
            <div class="row">
                <div class="col">
                    <a href="/admin" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
                        <span class="fs-4">KappaStar ADMIN</span>
                    </a>
                </div>
                <div class="col">
                    <ul class="nav nav-pills justify-content-end">
                        <li class="nav-item"><a href="/admin/screenings" class="nav-link">Promítání</a></li>
                        <li class="nav-item"><a href="/admin/movies" class="nav-link active">Filmy</a></li>
                        <li class="nav-item"><a href="/admin/cinema-halls" class="nav-link">Sály</a></li>
                        <li class="nav-item"><a href="/" class="nav-link ms-4">Web</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </header>

    <div class="container">

        <div class="row">
            <div class="col">
                <h1>Filmy</h1>
            </div>
            <div class="col text-end">
                <a href="/admin/movies/add">
                    <button class="btn btn-primary">Přidat film</button>
                </a>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div th:if="${movies.isEmpty()}">
                    <p>Zatím tu nejsou žádné filmy.</p>
                </div>

                <div th:if="${!movies.isEmpty()}">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Film</th>
                            <th></th>
                            <th>Popis</th>
                            <th>Rok</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="movie:${movies}">
                            <td>
                                <img th:alt="${movie.getName()}" th:src="${movie.getImage()}" width="75px">
                            </td>
                            <td th:text="${movie.getName()}"></td>
                            <td>
                                <p class="text-truncate" th:text="${movie.getDescription()}"></p>
                            </td>
                            <td th:text="${movie.getYear()}"></td>
                            <td class="text-end">
                                <a class="btn btn-primary btn-sm" th:href="'/admin/movies/' + ${movie.getId()}">
                                    Detail
                                </a>
                                <a class="btn btn-primary btn-sm" th:href="'/admin/movies/' + ${movie.getId()} + '/edit'">
                                    Upravit
                                </a>
                                <form th:onsubmit="return confirm('Opravdu chceš odstranit film?')" method="post" th:action="@{~/admin/movies/{id}/delete(id=${movie.getId()})}">
                                    <input type="hidden" th:value="*{movie.getId()}" readonly>
                                    <button type="submit" class="btn btn-danger btn-sm">Odstranit</button>
                                </form>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</main>
</body>
</html>