<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="cs">
<head>
    <title>KappaStar</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"/>
    <style>
        table p {
            margin-bottom: 0;
        }
        table th:not(:nth-child(2)) {
            width: 75px;
        }
    </style>
</head>
<body>
<main>
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
        <div class="container">
            <div class="row">
                <div class="col">
                    <a href="/"
                       class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
                        <span class="fs-4">KappaStar</span>
                    </a>
                </div>
                <div class="col">
                    <ul class="nav nav-pills justify-content-end">
                        <li class="nav-item"><a href="/admin" class="nav-link">Admin</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </header>

    <div class="container">
        <div class="row">
            <div class="col">

                <div>
                    <div class="btn-toolbar mb-3 justify-content-end" role="toolbar">
                        <div class="btn-group mr-2" role="group">
                            <a th:each="btnDay:${screeningDays}"
                               th:text="${btnDay.getDayName()}"
                               th:href="'/screenings/' + ${btnDay.getDate()}"
                               th:class="'btn btn-primary ' + ${btnDay.getDate() == selectedDay ? 'active' : ''}"></a>
                        </div>
                    </div>

                    <table class="table">
                        <thead>
                        <tr>
                            <th>Film</th>
                            <th></th>
                            <th class="text-center">12</th>
                            <th class="text-center">13</th>
                            <th class="text-center">14</th>
                            <th class="text-center">15</th>
                            <th class="text-center">16</th>
                            <th class="text-center">17</th>
                            <th class="text-center">18</th>
                            <th class="text-center">19</th>
                            <th class="text-center">20</th>
                            <th class="text-center">21</th>
                            <th class="text-center">22</th>
                            <th class="text-center">23+</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:if="${screeningsTable.isEmpty()}">
                            <td colspan="14">
                                <p>Pro tento den nemáme žádná promítání.</p>
                            </td>
                        </tr>
                        <tr th:if="${!screeningsTable.isEmpty()}" th:each="screeningTable:${screeningsTable}">
                            <td>
                                <img class="mx-auto" th:src="${screeningTable.getMovie().getImage()}" th:alt="${screeningTable.getMovie().getName()}" width="60px">
                            </td>
                            <td th:text="${screeningTable.getMovie().getName()}"></td>
                            <td th:each="timeSlotScreenings:${screeningTable.getScreenings()}">
                                <div th:each="screening:${timeSlotScreenings}" class="text-center">
                                    <p>
                                        <a class="fw-normal" th:href="'/screenings/' + ${screening.getId()} + '/reservation'"
                                           th:text="${screening.getTime()}"></a>
                                    </p>
                                    <p>
                                        <small th:text="${screening.getCinemaHallName()}"></small>
                                    </p>
                                    <p>
                                        <small th:text="${screening.getTicketPrice() + ',- Kč'}"></small>
                                    </p>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>


    </div>
</main>
</body>
</html>